
Calculator.xcodeproj/project.xcworkspace/xcuserdata/jorn.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

*.xcbkptlist

Calculator.xcodeproj/xcuserdata/jorn.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
